
body{
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.052em;
	background-color:#e6e6ff; 
}

h1{
		width: 60%;
		margin: 15px auto 0px;
		font-size: 400%;
		text-align: center;
		font-style: oblique;
		background-color:cornflowerblue;
		color:aliceblue;
		min-width: 540px;
}

h2{
		margin: 0px auto 15px;
		padding: 0 20% 0 20%;
		text-align: right;
		font-style: oblique;
		font-weight: 200;
		color: cornflowerblue;
		font-size: 120%;
		font-weight: bold;
	
}

ul{
		width: 70%;
		margin:  10px auto 40px;
		text-align: center;
		padding: 10px;
		border-bottom: solid 0.1em white;
		min-width: 940px;
}

li{
	 	display: inline-flex;
		margin-left: 2%;
		padding: 1.5% 8% 1.5% ;
		font-family: 'Roboto','Noto Sans KR',sans-serif ; 
		
}

li a{
	text-decoration: none;
	color:dimgray;
	font-size: 130%;
	font-weight: bold;
}
article > section{
	margin: 10% ;
}
h3{
		
		font-size: 200%;
		width: 100%;
		margin: 8% 0% 3% 15%;
		font-family: "Georgia";
		font-weight: bold;
		min-width: 940px;
		text-transform:uppercase;
}

#description + p{
	font-size: 140%;
	margin-bottom: 1.5%;
	margin-left: 15%;
	color:darkslategray;
}

#description + p + p{
	font-size: 100%;
	margin-bottom: 3%;
	margin-left: 15%;
}

#description +p+p a {
	text-decoration: none; 
	color:forestgreen;
}
#description +p+p a:hover {
	color: white;
}
figure{
	padding:2% 15% 5% 15%;
	display:block;
	text-align: center;
}

#share{
	text-align: right;
	padding-right: 15%;
}

li:hover {
	background-color:#f2f2f2 ;
}

a:hover {
	color: black;
}


#related_photos ~ a >img{
	margin: 5% 0% 0% 15%;
	border-radius: 50%;
	
}



#review ~ div > p:first-child{
	margin: 5% 0% 2% 15%;
	font-size: 100%;
}
#review ~ div > p:first-child + img + p{
	margin: 2% 10% 8.5% 20%;
	font-size: 130%;
	font-style: italic;
	font-family:fantasy;
	background-color: white;
}
#review ~ div > p:first-child + img{
	width: 45px;
	height: 50px;
	margin-left: 15%;
}

footer{
	background-color:darkgray;
	padding: 2% 15% 0% 20%; 
}

footer > p:first-child{
	padding: 0 0 2%;
	color: aliceblue;
}

footer > p a {
	color:aliceblue;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	font-family:'Roboto','Noto Sans KR',sans-serif;
	
}
footer > p:first-child + p{
	padding: 0 0 2%;
}
